# Dependencies
node_modules/
npm-debug.log*
yarn-error.log*
yarn-debug.log*
.npm/

# IDEs and Editors
.idea/
.vscode/
*.swp
*.iml
.DS_Store

# Angular / System
.angular/
dist/
www/
out-tsc/
bazel-out/

# Environments
.env
.env.local

# Optional: Capacitor Native Projects
# If you don't track the native projects, uncomment these:
# ios/
# android/
