// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

:root {
  /** custom **/
  --ion-color-primary: #3dc2ff;
  --ion-color-primary-rgb: 61, 194, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #36abe0;
  --ion-color-primary-tint: #50c8ff;

  // custom
  --custom-table-background: #cccccc;
  --custom-table-border: #595959;
  --custom-background: #f4f5f8;

  --custom-selection: rgb(61, 194, 255, 0.9);
  --custom-segment-text: grey;

}


.ion-palette-dark.ios,
.ion-palette-dark.md {
  // custom
  --custom-table-background: #595959;
  --custom-table-border: #cccccc;
  --custom-background: #92949c;

  --custom-selection: rgb(61, 194, 255, 0.9);
  --custom-segment-text: #FFFFFF;

}